<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style3.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>색감 구별 테스트 나의 점수는??</title>

    
</head>
<body class="body-color">

<section>
    <div class="wrap">

        

        <div class="final-container">
            <p>색감테스트 당신의 점수는?</p>
            <strong class="level">1</strong>
            
            
            <div class="imgs"></div>

            <p class="comment">오? 보통은 아닌데요? 센스가 있어요</p>

            <div class="reset" >
                <button class="btn-again" onclick="window.location.href='/'">다시 도전 !</button>
            </div>
        
            

            <div class="share-box">
                <div class="share">내 점수 공유하기</div>
                <br>
                <div class="share-ring">
                <a href="javascript:;" class="sharekakao">
                    <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FQ4Gzb%2FbtrYeYjPS6B%2FlGquuGoxNwv1S4C82zibHK%2Fimg.png" width="30">  
                </a>
                <a href="javascript:;" class="shareinstagram">
                    <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FcF0qLE%2FbtrYjlrM3l8%2F0my5dXTSFlZ5KfPbrVhULk%2Fimg.png" width="30">  
                </a>
                <a href="javascript:;" class="shareFb">
                    <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FJVHZW%2FbtrYj0HtVtC%2FxNPgknrK7nchqaYPZidchk%2Fimg.png" width="30">  
                </a>
                <a href="javascript:;" class="shareband">
                    <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FyVSBY%2FbtrYkK5qQrs%2FIFGKwtFTPsieq0x6i4O7MK%2Fimg.jpg" width="30">  
                </a>
                <a href="javascript:;" class="sharetwitter">
                    <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fbf0BT4%2FbtrYjydq22Q%2FqJ9vq2e9CTSzDwTgMkvCi0%2Fimg.png" width="30">  
                </a>
            </div>
            </div>


           

        </div>



       

        
            
    </div>
</section>
</div>
</body>
</html>