<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>색감 구별 테스트 나의 점수는??</title>
    <script>
        function next(){
            window.location.href='/test'
}
        
    </script>
</head>
<body class="body-color">
<section>
    <div class="wrap">
        <div class="description">
            <h5>
                <img src="https://blog.kakaocdn.net/dn/dvObbX/btrXVyFbLjz/SOBHasvaTPj2xm8pO909R1/img.png"> <!-- 작은 색감테스트 이미지 -->
                색감테스트</h5>
            <p>다른 색상 하나를 찾아보세요.</p>
            <p>시간 제한 10초!!</p>
        </div>
        <div>
            <h1>
                <img src="https://blog.kakaocdn.net/dn/Qm9gG/btrXUrmyMAk/nQoWGqLW4qOsWj8GNpOh00/img.png" height="369" width="366"/> <!-- 메인 이미지 -->
            </h1>
        </div>
        <div>
            <h1>
                색감 구별 테스트
            </h1>
        </div>
        <div>
            <h3>색감 테스트 4개 중 다른 것을 찾아보세요!</h3>
        </div>
        <div>
            <button class="mybutton" type="button" onclick="next()"> 테스트 시작!</button>
        </div>
    </div>
</section>
</div>
</body>
</html>