<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>색감 구별 테스트 나의 점수는??</title>

    <script>
        let SetTime = 3;      // 최초 설정 시간(기본 : 초)
        function msg_time() {   // 1초씩 카운트      
        m = Math.floor(SetTime / 60)  + (SetTime % 60) + "초"; // 남은 시간 계산         
        let msg = "<font>" + m + "</font>";  
        document.all.times.innerHTML = msg;     // div 영역에 보여줌                  
        SetTime--;                  // 1초씩 감소
        if (SetTime < 0) {          // 시간이 종료 되었으면..        
            clearInterval(tid);     // 타이머 해제
            window.location.href='/final'

        }       
    }
    window.onload = function TimerStart(){ tid=setInterval('msg_time()',1000) };
    </script>


</head>
<body class="body-color">

    <header>
        <div class="topinfo">
            <div class="level">
                Level<span id="score">1</span>
            </div>

            <div id="times"></div>


        </div>
    </header>

<section>
    <div class="wrap">
       
        <div class="quiz-box">
            <button class="quiz-button" onclick="checkQuiz('wrong')"></button>
            <button class="quiz-button" onclick="checkQuiz('wrong')"></button>
            <button class="quiz-button" onclick="checkQuiz('wrong')"></button>
            <button class="correct-button" onclick="checkQuiz('correct')"></button>
        </div>
        
            
    </div>
</section>
</div>
</body>
</html>