<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./style2.css">
    <title>색감 구별 테스트 나의 점수는??</title>
</head>
<body class="body-color">

    <header>
        <div class="topinfo">
            <div class="level">
                Level<span id="score">0</span>
            </div>

            <div id="time">10</div>


        </div>
    </header>

<section>
    <div class="wrap">
       
        <div class="quiz-box">
            <button class="quiz-button" onclick="checkQuiz('wrong')"></button>
            <button class="quiz-button" onclick="checkQuiz('wrong')"></button>
            <button class="quiz-button" onclick="checkQuiz('wrong')"></button>
            <button class="correct-button" onclick="checkQuiz('correct')"></button>
        </div>
        
            
    </div>
</section>
</div>
</body>
</html>